/* 版心 */
.w{
    width: 1160px;
    margin: 0 auto;
    background-color: pink;
}
/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;
}
.nav-left h1 img{
    width: 32px;
    height: 32px;
    margin-right: 12px;
}
.nav-container{
    display: flex;
    flex: 1;
    align-items: center;
}
.nav-container img{
    width: 16px;
    height: 16px;
    vertical-align:top;
}
.nav-container li{
    margin-right: 24px;
    color: #333;
    font-size: 12px;
}
.nav-container li:hover{
    
}

